<div id="loginFormComponent" class="container">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <p>Kirjaudu sisään</p>
    </div>

  </div>
    <form id="loginForm" #userLogin="ngForm" (ngSubmit)="onLogin(userLogin.value)">
      <div class="form-group row justify-content-center">
        <div class="col-3">
          <label for="phone">Puhelinnumerosi</label>
        </div>
        <div class="col-3">
          <input class="form-control border pl-2" type="text" name="phone" id="phone" required ngModel>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <div class="col-3">
          <label for="password">Salasana</label>
        </div>
        <div class="col-3">
          <input class="form-control border pl-2" type="password" name="password" id="password" required ngModel>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          <button class="btn btn-light" type="submit" value="submit" [disabled]="!userLogin.valid">Kirjaudu</button>
        </div>
      </div>
    </form>
    <!-- <p>New user? <a routerLink="register">Register here</a></p> -->
    <!-- TODO: Forgot your password? Click here etc. -->
    <!-- TODO: Back button -->
</div>

