/* #registerComponent {
  text-align: center;
  background-color: aliceblue;
}

.register-user {
  width: 100%;
}

.user-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5px;
} */
